#!name = 微博轻享版去广告
#!desc = 去除帖子和会员推广
#!author = neishe321
#!data = 2026-06-12 06:22:50

hostname = api.weibo.cn, weibointl.api.weibo.cn

# 帖子推广大家都在搜
^https:\/\/api\.weibo\.cn\/2\/statuses\/container_detail\? url jsonjq-response-body del(.pageHeader.data.items[]|select(.data.itemid=="top_searching"))

# 搜索框关键词
^https:\/\/weibointl\.api\.weibo\.cn\/portal\.php\?a=get_searching_info& url reject-dict

# 趋势页推广模块
^https:\/\/weibointl\.api\.weibo\.cn\/portal\.php\?a=trends& url jsonjq-response-body .data.order = ["discover", "search_topic", "topics"] | .data.discover = .data.discover[1:]

# 个人中心会员设置
^https:\/\/weibointl\.api\.weibo\.cn\/portal\.php\?a=user_center& url jsonjq-response-body del(.data.cards[]|select(.items[0].type=="personal_vip"))

# 搜索框下方热搜榜单
^https:\/\/weibointl\.api\.weibo\.cn\/portal\.php\?ct=feed&a=search_topic& url jsonjq-response-body .data=[]
